.main-container {
    padding: 40px;
}

.list-container {
    margin-top: 20px;
    background-color: rgb(22, 23, 27);
    padding: 10px;
}

.item {
    background: rgb(39, 79, 153);
    color: white;
    font-weight: 600;
    padding: 10px;
    border-top: 8px solid rgb(22, 23, 27);
}