.main-container {
  text-align: center;
  padding: 30px;
}

.heading {
  margin-bottom: 30px;
}

input {
  padding: 8px 14px;
  width: 500px;
  font-size: 18px;
  border: 2px solid black;
}

input:focus {
    outline: none;
}

.results-container {
  text-align: left;
  width: 500px;
  margin: auto;
}

.result-item {
  padding: 10px;
  border-width: 1px 2px 0px 2px; /* top right bottom left */
  border-style: solid;
  border-color: #000;
}

.result-item:first-child {
    border-top: none;
}

.result-item:last-child {
    border-bottom: 2px solid black;
}