.main-container {
    padding: 60px !important;
}

.heading {
    text-align: center;
}

.img-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.img-item {
    width: 300px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}