* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  padding: 20px;
}

.heading {
  padding: 5px;
  margin: 10px 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid black;
  width: 300px;
  padding: 0px 8px 15px 8px;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.product-card img {
  width: 200px;
  height: 200px;
}