* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  padding: 20px;
}

.heading {
  padding: 5px;
  margin: 10px 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid black;
  width: 300px;
  height: 270px;
  padding: 0px 8px 15px 8px;
  justify-content: center;
  align-items: center;
  margin: 10px;
  text-align: center;
}

.product-card img {
  width: 200px;
  height: 200px;
}

.pagination-container {
  width: 100%;
  text-align: center;
  margin-top: 40px;
}

.pagination-item {
  font-size: 15px;
  font-weight: 600;
  padding: 5px 8px;
  margin: 8px;
  border: 2px solid black;
  cursor: pointer;
  outline: none;
}

.pagination-item:first-child, .pagination-item:last-child {
  border: none;
  font-size: 22px;
  outline: none;
  background-color: transparent;
}

.active {
  background-color: black;
  color: white;
}